body{
    background-color:white;
    height: 90vh;
    width: 99vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.row{
    margin-left: 20%;
    margin-top: 5%;
}
#bar{
    width:101%;
}